*~
*.pyc
*.cpython-35.pyc.[0-9]*
*.pyo
*.swp
.idea/*

_*lib.py
!_*midlib.py

__pycache__
.pytest_cache

/bin/
/build/
/dist/
/.cache/
/*.egg-info/

/docs/_build
/docs/_themes

Release/
errortext.c
errortext.pyd
errortext.*.pyd

*lextab.py
*yacctab.py

